*{
	background-color: #000000;
	background-color: #1b353b;
		background-color: #1b353b8a;
	background-color: #305E69;
		background-color: #4687975b;
		background-color: #bdd4da;
	background-color: #ffac46;
	background-color: #ffffff;
	background-color: #ff0000;
	background-color: #b10000;
}