*{
	background-color: #000000;
	background-color: #1b353b;
	background-color: #1b353b8a;
	background-color: #305E69;
	background-color: #305e695b;
	background-color: #ffac46;
	background-color: #ffffff;
}
