@charset 'UTF-8';
:root{
    --cor0: #171f2c;
        --cor1: #1c2a41;
    --cor2: #3f5062;
        --cor3: #848f9e;  
    --cor4: #bb6d3c;
        --cor5: #dfaa66;
    --cor6: #dde7f7;
}
*{
    margin: 0;
    padding: 0;
}
main{
    padding: 10px;
}
main > h1{
    margin: auto;
    padding: 10px;
    border: 3px solid var(--cor6);
    width: fit-content;
    min-width: 200px;
    margin-top: 10px;
    color: var(--cor6);
    background-color: var(--cor1);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--cor2);
}
main ul{
    margin: 10px auto;
    width: fit-content;
    list-style-type: none;
}
main ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
main ul li .b{
    margin: 5px;
    transform: scale(80%);
    margin-left: 30px;
}
.dconfirmacao{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: var(--cor2);
    padding: 10vw;
    box-shadow: 0px 0px 20px var(--cor6);
}
.dconfirmacao div{
    background-color: var(--cor3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--cor1);
    text-align: center;
}
.dconfirmacao h1{
    font-size: 1.5em;
}
.dconfirmacao p{
    margin: 10px auto;
}
.dconfirmacao input{
    text-align: center;
    width: 40%;
    max-width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor4);
    color: var(--cor6);
    border: 2px solid var(--cor6);
    cursor: pointer;
    font-size: 1.1em;
}
.dconfirmacao input:hover{
    background-color: var(--cor5);
}